@font-face {
    font-family: Gilroy;
    src: url(..//..//fonts/Gilroy-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background: #f1fbfc;
    display: flex;
    justify-content: center;
}

.card {
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    height: 43px;
    margin-top: 98px;
    flex-direction: row;

    justify-content: space-between;
    width: 1520px;

}

.left-part {
    display: flex;
    gap: 16px;

}

.left-part a {
    text-decoration: none;
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000000;
}

.right-part {
    display: flex;
    gap: 10px;
}

select {
    background: transparent;
    border: none;
    outline: none;
}


.right-part :nth-child(2) {
    background: transparent;
    border: none;
    outline: none;
    color: #4461F2;
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
}

.right-part :nth-child(3) {
    box-shadow: 0px 4px 4px 0px #0000000D;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 112px;
    height: 42px;
    padding-left: 20px;
    color: #4461F2;
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
    background: #FFFFFF;

}


.main-part {
    margin-top: 200px;
    height: 800px;
    display: flex;
    flex-direction: row;
}

.text-div {
    font-family: Gilroy;
    font-size: 58px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    width: 450px;
}

.div-2 {
    font-family: Gilroy;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 230px;
    margin-top: 60px;
}

.div-3 {
    color: #4461F2;
}

img {
    width: 545px;
    height: 449px;
}


.registration-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 130px;
}

.registration-form :nth-child(1),
.registration-form :nth-child(2) {
    width: 400px;
    height: 60px;
    background-color: #EAF0F7;
    border-radius: 10px;
    padding-left: 16px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: 0.09em;
    text-align: left;
    position: relative;
    outline: none;
    border: none;
    margin-bottom: 10px;

}

.small-image {
    width: 24px;
    height: 24px;
}

.small-image:nth-child(2) {
    width: 19px;
    height: 19px;
}


.registration-form button {
    background: #4461F2;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 40px;
    color: white;
}

.registration-form span {
    display: flex !important;
    justify-content: flex-end !important;
}

.or-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    gap: 5px;
}

hr {
    width: 140px !important;
    height: 3px !important;
}

span {
    background-color: transparent !important;
    margin-top: 10px;
}



.crossed-icons {
    display: flex;
    gap: 26px;
}

.crossed-icons img {
    width: 117px !important;
    height: 60px;
}



#btn-1 {
    position: absolute;
    width: 80px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 24.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #363636;
    border: none;
    top: 60px;
    z-index: 2;
    left: 500px;
}


#btn-2 {
    position: absolute;
    width: 110px;
    height: 30px;
    background-color: #C4C4C4;
    border-radius: 24.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #747474;
    left: 530px;
    border: none;
    padding-left: 40px;
    top: 60px;
    z-index: 1;
}